body{
    margin: 0;
    background-color:#EEECEE;
    height: 100%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
}

#header{
    color: #001635;
    height: 100px;
    font-size: large;
    font-style: normal;
   
    
}

#titolo{
   
    padding-left: 100px;
}

#container{
    color: #001635;
    display: flex;
    flex-direction: row;
    
}

#imgContainer{
    border: 2px solid #0e0e0e13;
    background-image:url("images/backgrounds/blue50.png");
    width: 270px;
    height: 300px;
    margin-left: 100px;
    padding: 30px;
}
.img-alpaca{
    height: 332px;
    width: inherit;
    position: absolute;
}
#img-hair{
    left:110px;
}

#img-neck{
    top: 156px;
    left: 110px;
}

#settings{
    margin-left: 100px;
    width: 500px;
    color: #001635;
}





/* buttons*/

.selected{
    background-color: #001635;
    color: #EEECEE;
    border:1px solid #11294b;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border-radius: 30px;
}

.btn{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border-radius: 30px;
    border:1px solid #B5CBF3;
    color: #B5CBF3;
} 
.btn:hover{
    background-color: #001635;
}
#userchoice{
    height: 100px;
    width: 500px;
    margin-left: 100px;
    
}

.choise-btn{
    background-color: #FDFDFD;
    margin: 30px 38px 0px 0px;
    height: 50px;
    width: 150px;
    box-shadow: none;
    border:none;

}


